body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfe2f3; /* Tonalità di azzurro */
}

header {
    background-color: #0077b6; /* Tonalità di azzurro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2 {
    color: #0077b6; /* Tonalità di azzurro */
}

footer {
    background-color: #0077b6; /* Tonalità di azzurro */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
