body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfe2f3; /* Tonalità di azzurro */
}

header {
    background-color: #0077b6; /* Tonalità di azzurro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h2 {
    color: #0077b6; /* Tonalità di azzurro */
}

footer {
    background-color: #0077b6; /* Tonalità di azzurro */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}.image-scroll {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin-top: 20px;
}

.image-container {
    white-space: nowrap;
    width: 400%; /* larghezza totale delle immagini */
    transition: transform 0.3s ease; /* animazione dello scorrimento */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-selector {
    display: none;
}

.slide-button {
    display: inline-block;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

/* Stile visivo dei pulsanti, ad esempio puoi aggiungere un'immagine di freccia */
.slide-button::after {
    content: '→';
    font-size: 24px;
    color: #0077b6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Nascondi i pulsanti */
.image-selector:checked + .slide-button {
    display: none;
}

/* Gestione della posizione delle immagini */
#image1:checked ~ .image-container { transform: translateX(0%); }
#image2:checked ~ .image-container { transform: translateX(-25%); }
#image3:checked ~ .image-container { transform: translateX(-50%); }
#image4:checked ~ .image-container { transform: translateX(-75%); }
